**/.DS_Store
**/target
**/.classpath
**/.project
**/.settings
**/.idea/
**/nbactions.xml
**/nb-configuration.xml
apache-tomcat*
**/apache-tomcat*/
**/.vscode
**/.babelrc
**/.postcssrc
**/*.iml
**/node_modules/
**/webapp/ui
**/web-ui/node