<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">



    <!-- ::: ::: WEB-CONTEXT LISTNER ::: ::: -->
    <!-- Defined using annotation @WebListener (so commented)
    <listener>
        <listener-class>com.app.WebContextListener</listener-class>
    </listener>
    -->



    <!-- ::: ::: JERSEY SERVLET ::: ::: -->
    <!--
        There a three main different ways (in a servlet container) to configure Jersey (JAX-RS):
            With only web.xml
            With both web.xml and an Application or ResourceConfig class
            With only an Application or ResourceConfig class annotated with @ApplicationPath.
     -->
    <!-- Defined using annotation @ApplicationPath("/api/*") (so commented)
    <servlet>
        <servlet-name>JerseyApplication</servlet-name>
        <servlet-class>
            org.glassfish.jersey.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.app.JerseyApplication</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>JerseyApplication</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
    -->



    <!-- ::: ::: SWAGGER SERVLET ::: ::: -->
    <!-- Defined using annotation @WebServlet(name = "SwaggerConfigServlet", loadOnStartup=2)
    <servlet>
        <servlet-name>SwaggerConfigServlet</servlet-name>
        <servlet-class>com.app.SwaggerConfigServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    -->


    <!-- START - The Welcome File List -->
    <welcome-file-list>
        <welcome-file>/welcome.html</welcome-file>
        <welcome-file>/index.htm </welcome-file>
        <welcome-file>/index.jsp </welcome-file>
    </welcome-file-list>
    <!-- END - The Welcome File List -->
    
    <error-page>
        <error-code>400</error-code>
        <location>/page_error.html?code=400</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/page_error.html?code=404</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/page_error.html?code=500</location>
    </error-page>

</web-app>
